body { 
    margin: 0; 
    padding: 0; 
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.event-card {
    margin-bottom: 20px;
    background-color: #dddddd;
    padding: 10px;
}

.event-card:hover {
    background-color: #555555;
    color: white;
}

.fill {
    min-width: 100vw;
    min-height: 100vh;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.panel {
    width: 400px;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-start {
    align-self: flex-start;
}

#left-panel {
    margin-top: 50px;
    margin-right: 50px;
}

#right-panel {
    margin-top: 50px;
    margin-left: 50px;
}

#year-switch {
    margin-bottom: 20px; 
}

#rank-list {
    height: 500px;
    overflow: scroll;
    width: 100%;
    margin: 20px;
    margin-top: 0px;
}

.rank-card {
    margin-bottom: 2px;
    background-color: #dddddd;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.rank-card:hover {
    background-color: #555555;
    color: white;
}

#rank-list-title {
    font-size: 32px;
}

#year {
    font-size: 32px;
}

.sel-arrow {
    height: 24px;
    width: 24px;
    margin: 5px;
}

.sel-arrow:hover {
    opacity: 0.75;
}

.flip {
    transform: scale(-1.0, 1.0);
}

#legend {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    right: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.15);
    align-items: center;
}

.legend-text {
    font-size: 12px;
}

#legend-title {
    background-color: rgba(0, 0, 0, 0.15);
    padding: 5px;
}

#legend-grad {
    width: 25px;
    height: 75px;
    background-image: linear-gradient(steelblue, #efefef);
    outline-style: solid;
    outline-width: 1px;
    margin: 5px;
}

#center-panel {
    position: relative;
}

image {
    border-radius: 50%;
}
